<center>
    <h1>「君の名は！」の使いかた</h1>

    <%= image_tag 'about1.png' , :size => '420x300' %>
    <p>サークルの後輩の名前が思い出せない・・・</p>
    <p>今日組んだグループはどんな人達だったかな・・・</p>
    <p>日常的な「あの人誰だっけ？」問題は、「君の名は！」がズバリ解決します。</p>

    <%= image_tag 'about2.png' , :size => '460x300' %>
    <p>「君の名は！」のサービスはFacebookやTwitterといったSNSと違い、</p>
    <p>相手が当サービスを利用していなくても活用することができます。</p>
    <br>

    <h2>こんなシーンでお使いください</h2>
    <p>グループワークで初めましての出会い</p>
    <center><p><%= image_tag 'group.png' %></p></center>
    <p>「君の名は！」で出会いを記録</p>
    <center><p><%= image_tag 'touroku.png' %></p></center>
    <p>授業前に「君の名は！」で確認</p>
    <center><p><%= image_tag 'omoidasu.png' %></p></center>
    <p>円滑な開発を実現！</p>
    <br>

    <h2>操作方法<h2>
    <%= image_tag 'mypage_1.png', :size => '460x330' %>
    <p>ログインが完了すると、あなた専用のマイページ画面が現れます</p>
    <p>さっそくあなたの知人たちを登録しましょう。「新規項目作成」をクリックしてください</p>

    <%= image_tag 'create_page2.png' , :size => '540x330'%>
    <p>登録したい人の「氏名」、「写真」、出会った「日時」と「場所」、他に特徴的なことがあれば「タグ」として入力しましょう。</p>
    <p>全ての項目を入力する必要はありません。でも、新しい知人を思い出すヒントは、多いほど嬉しいですね。</p>
    <p>入力が完了したら「Create Profile」をクリックしてください。</p>

    <%= image_tag 'created_page3.png' %>
    <p>登録完了できました！</p>
    <p>新しい出会いの数々を「君の名は！」で記録して行きましょう</p>

</center>

<%= link_to 'マイページへ', profiles_path %>
