<p id="notice"><%= notice %></p>

<div class="font_size">
<h1><%= @user.name%>さん のマイページ</h1>
あなたの知人が表示されます<br>
<%= link_to '新規項目作成', new_profile_path %>

  <tbody>
    <div class="grid">

    <% @profiles.each do |profile| %>
      <div class="item">
        <div><%= link_to image_tag( profile.image.to_s ,:size => '200x260'), profile %></div>
        <div><%= link_to profile.name, profile %></div>
        <div><%= link_to '編集', edit_profile_path(profile) %></div>
        <div><%= link_to '項目削除', profile, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
   </div>
  </tbody>

<br>

