<p id="notice"><%= notice %></p>

<h1><%= @user.name%>'s Profiles</h1>

<!-- <table> -->
  <!-- <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>

      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <div class= "grid">

    <% @profiles.each do |profile| %>
      <div class= "item">
        <div><%= image_tag profile.image.to_s ,:size => '200x260' %><div/>
        <div><%= link_to profile.name, profile %></div>
        <div><%= link_to 'Edit', edit_profile_path(profile) %></div>
        <div><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
   </div>
  </tbody>
<!-- </table> -->

<br>

<%= link_to 'New Profile', new_profile_path %>
