<div class="font_size">
<p id="notice"><%= notice %></p>

<p>
  <strong>画像:</strong>
  <%= image_tag @profile.image.to_s, size: '200x260' %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>イベント:</strong>
  <%= @profile.Event %>
</p>

<p>
  <strong>位置情報:</strong>
  <%= @profile.Place %>
</p>

<p>
  <strong>タグ:</strong>
  <%= @profile.tags_text %>
</p>

<p>
  <strong>memo:</strong>
  <%= @profile.memo %>
</p>

<%= link_to '編集', edit_profile_path(@profile) %> |
<%= link_to 'マイページへ', profiles_path %>

</div>
