<p id="notice"><%= notice %></p>

<p>
  <strong>氏名</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>画像</strong>
  <%= @profile.image %>
</p>

<%= link_to '編集', edit_profile_path(@profile) %> |
<%= link_to 'マイページへ', profiles_path %>
