<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @profile.image.to_s, size: '200x260' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @profile.Event %>
</p>

<p>
  <strong>Place:</strong>
  <%= @profile.Place %>
</p>

<p>
  <strong>tags_text:</strong>
  <%= @profile.tags_text %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
