<div class="font_size">
<p id="notice"><%= notice %></p>

<h1>タグ 一覧</h1>

<table>
  <thead>
    <tr>
      <th>タグ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag %></td>
        <td><%= link_to 'タグを編集', edit_tag_path(tag) %></td>
        <td><%= link_to 'タグを消去', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規タグ作成', new_tag_path %>

</div>