<div class="font_size">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @tag.user %>
</p>

<ul>
  <% @tag.profiles.all.each do |profile| %>
    <li>
      <%= link_to profile.name, profile_path(profile) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>

</div>