<div class="font_size">
<p id="notice"><%= notice %></p>

<p>
  <strong>タグ名:</strong>
  <%= @tag.name %>
</p>

<div class="grid">
  <%= render @tag.profiles %>
</div>

<%= link_to 'タグを編集', edit_tag_path(@tag) %> |
<%= link_to 'タグ一覧へ', tags_path %>

</div>
